PORT=3000
MONGODB_USER=magegavladislav
MONGODB_PASSWORD=LiP7rRzYh6sW4LwM
MONGODB_URL=cluster0.wtddcio.mongodb.net
MONGODB_DB=nodejs_hw2
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret


SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=928e6c001@smtp-brevo.com
SMTP_PASSWORD=hgANJf2TpULSP8cy
SMTP_FROM=magegavladislav@gmail.com
JWT_SECRET=your_jwt_secret_here  #VOQjLdrpG1TWCHhDzv3o
APP_DOMAIN=https://nodejs-hw-mongodb-u8gt.onrender.com


CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret